@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  height: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246);
}

body {
  font-family: 'Inter';
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}
